body {
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Calibri;
    z-index: 0;
}

.container {
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-around;
    height: max-content;
}

body>nav {
    width: max-content;
    display: flex;
    top: 0px;
    right: 0px;
    z-index: 100;
    align-items: center;
    position: absolute;
    margin-right: 25px;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    /* background-color: rgba(0, 0, 0, 0.7); */
}

nav>.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navMenu {
    margin: 0;
    width: 100%;
    /* padding-left: 15px; */
    /* margin-right: 15px; */
}

.navMenu>.navMenuLeft>ul,
.navMenu>.navMenuRight>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    transition: all 0.5s ease-in-out;
}

.navMenu>.navMenuLeft>ul>li {
    float: left;
}

.navMenu>.navMenuRight>ul>li {
    /* border-radius: 15%; */
    background-color: rgba(17, 11, 17, 0.623);
    border-color: rgba(255, 255, 255, 0.6);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    float: right;
    width: max-content;
    margin: 0px;
    transition: all 0.5s ease-in-out;
    /* margin-right: 10px; */
}

.navMenu>.navMenuLeft>ul>li:hover,
.navMenu>.navMenuRight>ul>li:hover {
    /* border-radius: 15%; */
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: rgba(109, 100, 241, 0.6);
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.5s ease-in-out;
}

.navMenu>.navMenuLeft>ul>li>a,
.navMenu>.navMenuRight>ul>li>a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: block;
    width: 150px;
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.navMenu>.navMenuRight>ul>li>form>a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-decoration: none;
    width: 150px;
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.5s ease-in-out;
}

.navMenu>.navMenuRight>ul>li>form>a:hover {
    transition: all 0.5s ease-in-out;
    color: rgba(109, 100, 241, 0.7);
}

.navMenu>.navMenuRight>ul>li>a:hover {
    transition: all 0.5s ease-in-out;
    color: rgba(109, 100, 241, 0.7);
}

header>div {
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 88vh;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-right-color: rgba(0, 0, 0, 0.9);
}

header>div:hover {
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-right-color: rgba(255, 255, 255, 0.9);
}

header>#indexDiv {
    height: 100vh;
}

header>#readmeDiv {
    height: 70vh;
}

header>#readmeDiv>div {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

header>#indexDiv>div {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.headerImg {
    width: 25%;
    border-right-style: solid;
    border-right-width: 2px;
    transition: all 0.5s ease-in-out;
}

.headerImg:hover {
    transition: all 0.5s ease-in-out;
    border-color: rgba(109, 100, 241, 0.6);
}

.headerImg>img {
    margin-top: 0;
    padding-top: 0;
    width: 190px;
    transition-duration: 1s;
    height: 190px;
    filter: grayscale(100%);
    border-radius: 50%;
}

.headerImg>img:hover {
    width: 190px;
    height: 190px;
    transition-duration: 1s;
    filter: grayscale(0%);
    border-radius: 15%;
    transform: scale(1.2);
}

.headerIntro {
    width: 75%;
    text-align: start;
    padding-left: 25px;
}

.headerIntro>h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    text-align: start;
    transition: all 0.2s ease-in-out;
}

.headerIntro>h1:hover {
    transition: all 0.2s ease-in-out;
    color: rgba(109, 100, 241, 0.6);
}

.headerIntro>h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;
    transition: all 0.2s ease-in-out;
}

.headerIntro>h2:hover {
    transition: all 0.2s ease-in-out;
    color: rgba(109, 100, 241, 0.6);
}

.headerIntro>p {
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.headerIntro>p>span:hover {
    transition: all 0.2s ease-in-out;
    color: rgba(109, 100, 241, 0.6);
}

.headerContImg {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
}

.headerContImg:hover {
    transform: scale(1.4);
    transition: all 0.1s ease-in-out;
}

a {
    text-decoration: none;
}

.btn {
    padding: 10px;
    margin: 10px;
    border-radius: 15%;
    background-color: rgba(17, 11, 17, 0.8);
    color: rgba(121, 118, 121, 0.8);
    font-weight: bold;
}

.btn>a {
    font-weight: bold;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
}

.introContainer {
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    height: max-content;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 15px;
}

li {
    font-size: 20px;
}

.ldiv {
    width: 40%;
    margin: 20px;
    margin-right: 10px;
    margin-top: 10px;
    /* height: max-content; */
    padding: 15px;
    display: block;
    text-align: start;
    background: rgba(0, 0, 0, 0.675);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.ldiv:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), #DBDBDB);
    color: black;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    border-color: rgba(109, 100, 241, 0.6);
}

.ldiv>h3 {
    padding-top: 0px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.ldiv>h3:hover {
    color: rgba(109, 100, 241, 0.6);
}

.ldiv>hr {
    margin-bottom: 15px;
}

.ldiv>p {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
}

.ldiv>p>a {
    color: rgb(172, 166, 226);
}

.ldiv>div {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
}

.ldiv>div>a {
    color: rgb(172, 166, 226);
}

.ldivF {
    width: 60%;
    margin: 20px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 15px;
    display: block;
    text-align: start;
    background: rgba(0, 0, 0, 0.675);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.ldivF:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), #DBDBDB);
    color: black;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    border-color: rgba(109, 100, 241, 0.6);
}

.ldivF>h3 {
    padding-top: 0px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.ldivF>h3:hover {
    color: rgba(109, 100, 241, 0.6);
}

.ldivF>hr {
    margin-bottom: 15px;
}

.ldivF>p {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
}

.ldivF>p>a {
    color: rgb(172, 166, 226);
}

.ldivF>div {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
}

.ldivF>div>a {
    color: rgb(172, 166, 226);
}

section>.container>.ldivF>#softskills>div {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>.container>.ldivF>#softskills>div>.ldiv2 {
    height: max-content;
    max-width: 26%;
    min-width: 26%;
    margin: 5px;
    font-size: 20px;
    padding: 15px;
    border-width: 2px;
    text-align: center;
    border-style: solid;
    border-radius: 15%;
}

section>.container>.ldivF>#softskills>div>.ldiv2:hover {
    border-color: rgba(109, 100, 241, 0.6);
    color: rgba(109, 100, 241, 0.6);
    font-weight: bold;
}

.rdiv {
    width: 60%;
    /* height: max-content; */
    margin: 20px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 15px;
    display: block;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.rdiv:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), #DBDBDB);
    color: black;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    border-color: rgba(109, 100, 241, 0.6);
}

.rdiv>h3 {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 0;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.rdiv>h3:hover {
    color: rgba(109, 100, 241, 0.6);
}

.rdiv>hr {
    margin-bottom: 15px;
}

.rdiv>p {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}

.rdiv>p>a {
    color: rgb(172, 166, 226);
}

.rdiv>div {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}

.rdiv>div>a {
    color: rgb(172, 166, 226);
}

.rdivF {
    width: 40%;
    /* height: max-content; */
    margin: 20px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 15px;
    display: block;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.rdivF:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), #DBDBDB);
    color: black;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    border-color: rgba(109, 100, 241, 0.6);
}

.rdivF>h3 {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 0;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.rdivF>h3:hover {
    color: rgba(109, 100, 241, 0.6);
}

.rdivF>hr {
    margin-bottom: 15px;
}

.rdivF>p {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}

.rdivF>p>a {
    color: rgb(172, 166, 226);
}

.rdivF>div {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}

.rdivF>div>a {
    color: rgb(172, 166, 226);
}

.ulLang {
    list-style-type: disc;
    margin: 15px;
    padding-left: 15px;
}

.lang {
    float: left;
    width: 40%;
}

.cdiv {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 0px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    min-height: 100%;
}

.cdiv:hover {
    border: 1px solid rgba(109, 100, 241, 0.5);
}

.divLH {
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}

.divRH {
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
}

.divRH:hover,
.divLH:hover {
    color: rgba(109, 100, 241, 0.6);
}

.idiv {
    width: 70%;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.675);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.idiv:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), #DBDBDB);
    color: black;
    border: 3px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    border-color: rgba(109, 100, 241, 0.6);
}

.idiv>h3 {
    padding-top: 0px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.idiv>h3:hover {
    color: rgba(109, 100, 241, 0.6);
}

.idiv>img {
    width: 100%;
    border-radius: 15px;
}

.idiv>hr {
    margin-bottom: 15px;
}

.idiv>p {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
}

section>.introContainer>.idiv>#features>div {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>.introContainer>.idiv>#features>div>.idiv2 {
    height: max-content;
    max-width: 24%;
    min-width: 24%;
    margin: 5px;
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    border-width: 2px;
    text-align: center;
    border-style: solid;
    border-radius: 15%;
}

section>.introContainer>.idiv>#features>div>.idiv2:hover {
    border-color: rgba(109, 100, 241, 0.6);
    color: rgba(109, 100, 241, 0.6);
    font-weight: bold;
}

.ilist {
    text-align: center;
    width: 45%;
    display: inline-block;
}

.ilDisk {
    margin: 15px;
    text-align: start;
    padding-left: 15px;
    display: block;
}

.sp {
    height: 30px;
}

.diflink {
    transition: all 0.5s ease-in-out;
    color: rgba(109, 100, 241, 1);
}

.fap {
    margin: 0;
    margin-left: 15px;
}